body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: black;
  padding: 40px 0 0 0;
}

.pepsi {
  max-width: 150px;
  margin: 0 auto 40px;
  display: block;
}

nav {
  background: whitesmoke;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 10px 0;
  width: 1040px;
}

li {
  list-style: none;
  padding: 1em;
  min-width: 80px;
  text-align: center;
  background:grey;
  border:solid black 2px;
  border-radius: 5px;

}

li:hover {
  background-color: #fefae0;
}

main{
    background-color: rgb(221, 221, 221);
}

.fla {
    display: flex;
}

.logo{
    flex-basis: 30%;
    margin-left: 30%;
    margin-top: 30px;
}

.prf{
     flex-basis: 40%;
     margin-right:30%;
     margin-top: 30px;
}

.tel {
    display: flex;
    background-color: gray;
}

.lin {
    display: flex;

}

footer{
    background-color:black;
    padding-left: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

p{
  color: white;

}

.alinha {
  display:flex;

}
